<!DOCTYPE HTML>
<html>

<head>
  <title>Templates Pour la newsletter d'Allianz</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1>Templates Pour la newsletter d'Allianz</h1>
          
        </div>
      </div>
      <div id="menubar" style="width:90% !important;text-align:center !important;background: none;">
        <ul id="menu" style="background: #1293EE;">
          <li><a href="http://moto-tour-madagascar.fr/allianz/templates/focus-regular-update.html" target="_blank">focus</a></li>
		  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/invitation-and-offer.html" target="_blank">invitation-offer</a></li>
		  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/invitation-and-service.html" target="_blank">invitation-service</a></li>
		  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/invitation-only-long.html" target="_blank">invitation-only-long</a></li>
		  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/invitation-only-short.html" target="_blank">invitation-only-short</a></li>
		  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/optional-offers.html" target="_blank">offers</a></li>
		  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/service.html" target="_blank">service</a></li>
		  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/travel-insurance.html" target="_blank">travel</a></li>
        </ul>
      </div>
    </div>
    
    
  </div>
</body>
</html>
