<ol start="1" type="A">
  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/focus-regular-update.html" target="_blank">focus-regular-update</a></li>
  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/invitation-and-offer.html" target="_blank">invitation-and-offer</a></li>
  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/invitation-and-service.html" target="_blank">invitation-and-service</a></li>
  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/invitation-only-long.html" target="_blank">invitation-only-long</a></li>
  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/invitation-only-short.html" target="_blank">invitation-only-short</a></li>
  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/optional-offers.html" target="_blank">optional-offers</a></li>
  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/service.html" target="_blank">service</a></li>
  <li><a href="http://moto-tour-madagascar.fr/allianz/templates/travel-insurance.html" target="_blank">travel-insurance</a></li>
</ol>